.setaEsquerda, .setaDireita {
  position: absolute;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.setaEsquerda {
  left: -4%;
  top: 38%;
}

.setaDireita {
  left: 96%;
  top: 38%;
}

.setaEsquerda img, .setaDireita img {
  position: relative;
  width: 10px;
}

.setaEsquerda img {
  top: 1px;
  left: -1px;
}

.setaDireita img {
  top: 1px;
  right: -1px;
}
