.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--cor-preto);
  opacity: .7;
}

.dialog {
  position: absolute;
  top: 100px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  width: 500px;
}

.close {
  position: absolute;
  top: -5%;
  left: 95%;
  width: 20px;
  cursor: pointer;
}

.dialog ul{
  justify-content: center;
  width: 80%;
  gap: 1.5rem;
}