/* estilização padrão */

:root {
  --cor-primaria: hsl(26, 100%, 55%);
  --cor-primaria-shadow: hsl(26, 100%, 75%);
  --cor-primaria-hover: hsl(26, 72%, 45%);
  --cor-primaria-hover-shadow:  hsl(26, 43%, 50%);
  --cor-secundaria: hsl(25, 100%, 94%);
  --cor-destaque:  hsl(220, 13%, 13%);
  --cor-linear-gradiente: hsl(220, 13%, 13%) 70%, hsl(216, 13%, 8%);
  --cor-texto: hsl(219, 9%, 45%);
  --cor-promocional: hsl(220, 14%, 75%);
  --cor-fundo-caixa: hsl(223, 64%, 98%);
  --cor-branco: hsl(0, 0%, 100%);
  --cor-preto: hsl(0, 0%, 0%);

  --font-principal: 'Kumbh Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 10rem;
  box-sizing: border-box;
  font-family: var(--font-principal);
  height: 100vh;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
}
